@import "tailwindcss";

:root {
  --bg: #080806;
  --text: #ffffff;
  --muted: #888888;
  --green: #4ade80;
  --yellow: #facc15;
  --red: #f87171;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}
